# Copy to db.env and fill in your real MySQL passwords

# The super-user root password (used by migrations, admin tools, etc.)
MYSQL_ROOT_PASSWORD=yourStrongRootPassword

# The default app database & user
MYSQL_DATABASE=nodeland
MYSQL_USER=nodeland
MYSQL_PASSWORD=yourDatabaseUserPassword
